.form {
  width: 700px;

  background-color: #ef8354;
  opacity: 0.8;
  background-image: linear-gradient(
      30deg,
      #f0f0c9 12%,
      transparent 12.5%,
      transparent 87%,
      #f0f0c9 87.5%,
      #f0f0c9
    ),
    linear-gradient(
      150deg,
      #f0f0c9 12%,
      transparent 12.5%,
      transparent 87%,
      #f0f0c9 87.5%,
      #f0f0c9
    ),
    linear-gradient(
      30deg,
      #f0f0c9 12%,
      transparent 12.5%,
      transparent 87%,
      #f0f0c9 87.5%,
      #f0f0c9
    ),
    linear-gradient(
      150deg,
      #f0f0c9 12%,
      transparent 12.5%,
      transparent 87%,
      #f0f0c9 87.5%,
      #f0f0c9
    ),
    linear-gradient(
      60deg,
      #f0f0c977 25%,
      transparent 25.5%,
      transparent 75%,
      #f0f0c977 75%,
      #f0f0c977
    ),
    linear-gradient(
      60deg,
      #f0f0c977 25%,
      transparent 25.5%,
      transparent 75%,
      #f0f0c977 75%,
      #f0f0c977
    );
  background-size: 20px 30px;
  background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
}
